.default_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text_container p {
    text-align: justify;
}

.card_container p {
    font-size: 18px;
    margin-bottom: 50px;
}

.dashboard_container {
    width: 100%;
    background-color: var(--accent-color);
    border: 1px var(--outline-color) solid;
    border-radius: var(--border-radius);
}